<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Ticket</title>
</head>
<body>
    <h2>Update Ticket</h2>
    <form th:action="@{/saveTicket}" th:object="${ticket}" method="post">
        <input type="hidden" th:field="*{ticketId}" />
          <label>EventId:</label>
        <input type="text" th:field="*{eventId}" required="required" />
        <label>UserId:</label>
        <input type="userId" th:field="*{userId}" required="required" />
        <label>TicketType:</label>
        <input type="ticketType" th:field="*{ticketType}" required="required" />
        <label>Price:</label>
        <input type="price" th:field="*{price}" required="required" />
        
    </form>
</body>
</html>
